# global
#   maxconn 20000
#   daemon

defaults
  mode http
  timeout client 5000s
  timeout connect 5000s
  timeout server 5000s
  option http-keep-alive

frontend frontend
  bind *:9999
  default_backend go-backend

backend go-backend
  balance roundrobin
  option http-keep-alive
  server api-1 unix@/dev/shm/go.sock.1
  server api-2 unix@/dev/shm/go.sock.2
  server api-3 unix@/dev/shm/go.sock.3
